sdkjgbhjsbjkgdhkdsj
<p>
  <strong>user:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
jsdfhkjsad
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
</p>
dflkgdlfjsjdfk