<h1>Comments</h1>
<% if @post.comments.size == 0 %>
  <h3>No Comments</h3>
<% else %>
  <table class="table table-striped table-dark">
    <tr>
      <th>User</th>
      <th>Comment</th>
        <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @post.comments.each do |comment| %>
      <% if comment.persisted? %>
      <tr>
        <td><%=comment.user.email %></td>
        <td><%= link_to comment.comment  , topic_post_comment_path(@post.topic, @post,comment) %></td>
        <% if can? :update, comment %>
          <td><%= link_to 'Edit', edit_topic_post_comment_path(@post.topic, @post,comment),class:"btn btn-primary" %></td>
        <% end %>
        <% if can? :destroy, comment %>
        <td><%= link_to 'Delete', topic_post_comment_path(@post.topic,@post,comment),
                        method: :delete,
                        data: {confirm: 'Are you sure?'}, class:"btn btn-danger" %></td>

          <%end %>
      </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
