<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="alert alert-danger error_explanation"  class="alert alert-danger" role="alert">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved</h2>
    </div>
  <% end %>
  <div class="form-group">
   <%= form.text_field :title, placeholder:"Please enter a valid Title" ,class:"form-control"%>
  </div>
    <%= form.submit class:"btn btn-secondary" %>

<% end %>
