<%= bootstrap_form_with(model: [@post.topic, @post, @rating], local: true) do |form| %>
  <%count=1 %>
  <%while count<=5 %>
  <%= form.radio_button :star, count, { checked: true }  %>
    <%count=count+1 %>
    <%end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
