<h1>Editing Tag</h1>
<p><%= render 'form', tag: @tag,class:"btn btn-secondary" %></p>

<p><%= link_to 'Show', @tag, class:"btn btn-secondary"%> |
  <%= link_to 'Back', tags_path ,class:"btn btn-primary"%></p>

